

.title{
    margin: auto;
   
    
    width: 80%;
    text-align: center;
    margin-top: 8%;
    font-size: 30px;
    font-weight: 900;
}

.title-1{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.title_button{
    font-size: 20px;
    padding: 50px;
    margin: 20px;
    height: 100px;
    width: 400px;
    color: aliceblue;
    background-color:#0000FF;
}
.title_button:hover{
    background-color: green;
    color: black;
}
